html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  display: flex;
  flex-direction: column;
}

body {
  min-height: 100vh;
}

#map {
  flex-grow: 1;
  width: 100%;
  height: calc(100vh - 70px - 120px); /* subtract navbar + footer height */
  z-index: 0;
}

/* Ensure map controls don’t overlap the navbar */
.leaflet-top {
  top: 80px !important;
}