<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ErosionWatch-WA | Visualise & Predict Coastal Erosion in Western Australia</title>
        <meta name="description" content="ErosionWatch-WA is a web application to visualise, analyse, and predict the erosion of Western Australia's coastlines using geospatial data and environmental modelling.">

        <link rel="stylesheet" href="/app/static/css/home.css">
    </head>
    <body>
        <nav class="navbar">
            <div class="logo">
                <img src="/app/static/images/ErosionWatch-WA Logo.png" alt="ErosionWatch-WA Logo">
            </div>
            <ul class="nav-links">
                <li><a href="#about">About</a></li>
                <li><a href="#features">Features</a></li>
                <li><a href="#map">Map</a></li>
                <li><a href="#data">Data</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
        

        <script src="/app/static/js/home.js"></script>
    </body>
</html>