<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>ErosionWatch-WA | Visualise & Predict Coastal Erosion in WA</title>
  <meta name="description" content="ErosionWatch-WA is a web application to visualise, analyse, and predict erosion along Western Australia's coastlines using geospatial data and environmental modelling.">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/app/static/css/home.css" />
</head>

<body>
  <header>
    <nav class="navbar">
      <ul class="nav-links">
        <li><a href="/app/templates/home.html">Home</a></li>
        <li class="dropdown">
          <button class="dropbtn" id="learn-toggle">
            Learn <span class="arrow">&#9662;</span>
          </button>
          <ul class="dropdown-content">
            <li><a href="#">User Guide</a></li>
            <li><a href="#">Data sources & methodology</a></li>
            <li><a href="#">FAQ</a></li>
          </ul>
        </li>
        <li><a href="/app/templates/map.html">Map</a></li>
        <li><a href="#">Analysis</a></li>
        <li><a href="#">About</a></li>
      </ul>
      <div class="logo">
        <img src="/app/static/images/ErosionWatch-WA Logo.png" alt="ErosionWatch-WA Logo" />
      </div>
    </nav>
  </header>

  <section class="hero">
    <div class="hero-text">
      <h1 class="heading-xl text-white">New lens on coastal change</h1>
      <p class="paragraph text-white">ErosionWatch-WA integrates geospatial datasets and models to monitor and forecast erosion along WA's coastline.</p>
    </div>
    <div class="scroll-indicator">
        <a href="#main-content" class="scroll-down">&#9662;</a>
    </div>
  </section>

  <section id="main-content">


  </section>
  <script src="/app/static/js/home.js"></script>
</body>
</html>