<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ErosionWatch-WA | Interactive Map</title>
        
        <link rel="stylesheet" href="/app/static/css/map.css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/app/static/css/home.css" />
    </head>
    <body>
    <div class="page-wrapper">
    <header>
    <nav class="navbar">
      <ul class="nav-links">
        <li><a href="/app/templates/home.html">Home</a></li>
        <li class="dropdown">
          <button class="dropbtn" id="learn-toggle">Learn <span class="arrow">&#9662;</span></button>
          <ul class="dropdown-content">
            <li><a href="#">User Guide</a></li>
            <li><a href="#">Data sources & methodology</a></li>
            <li><a href="#">FAQ</a></li>
          </ul>
        </li>
        <li><a href="/app/templates/map.html">Map</a></li>
        <li><a href="#">Analysis</a></li>
        <li><a href="#">About</a></li>
      </ul>
      <div class="logo">
        <img src="/app/static/images/ErosionWatch-WA Logo.png" alt="ErosionWatch-WA Logo" />
      </div>
    </nav>
    </header>

        <h1>Interactive Map</h1>
        <div id="map"></div>

    
    <footer class="site-footer">
        <div class="footer-content">
            <p class="paragraph">&copy; 2025 ErosionWatch-WA. All rights reserved.</p>
            <ul class="footer-links">
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Privacy</a></li>
            </ul>
        </div>
    </footer>


    <script src="/app/static/js/home.js"></script>
    <script src="/app/static/js/map.js"></script>
    </div>
    </body>
</html>